.recipe-list-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 8%;
}

.add-ingredient-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .recipe-list-container {
        width: 50%;
        margin: 0 auto;
        padding-top: 8%;
    }
}
