.ingredient-card-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ingredients {
    border-bottom: 3px solid white;
}

.ingredient-container {
    padding: 2%;
    margin-left: 10px;
    width: 100%;
}

.recipeCard {
    border-bottom: 1px solid white;
    justify-content: space-between;
    background-color: rgba(73, 159, 83, 1);
}

.remove-button {
    color: rgba(73, 159, 83, 1);
    position: relative;
    font-size: 2em;
    height: 2%;
    width: 2%;
}

.quantity {
    font-weight: 400;
    font-size: 1.4em;
}

.amount {
    font-size: 1.4em;
}
