<div [ngClass]="recipeCard ? 'ingredients':''">
  <div *ngFor="let ingredientItem of availableIngredients">
    <div
      [ngClass]="recipeCard ? 'recipeCard' : ''"
      class="ingredient-card-main"
    >
      -
      <div class="ingredient-container">
        <div *ngIf="ingredientItem.quantity" class="amount">{{
          ingredientItem.quantity
        }}
      <span *ngIf="ingredientItem.quantityType" class="type">{{ ingredientItem.quantityType }}
      </span>
      </div>
        
        <div class="quantity">{{ ingredientItem.ingredient }}</div>
      </div>
      <button
        class="remove-button"
        *ngIf="recipeCard"
        mat-raised-button
        (click)="removeIngredient(ingredientItem)"
      >
        -
      </button>
    </div>
  </div>
</div>
