@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, 100, 400, 900);
$my-warn: mat.define-palette(mat.$red-palette);
$kitchen-service-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
    )
);

@include mat.core-theme($kitchen-service-theme);
@include mat.button-theme($kitchen-service-theme);

@include mat.all-component-themes($kitchen-service-theme);
