.main {
    position: fixed;
    left:0;
    top:0;
    margin:0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    overflow-y: auto;
    padding: 2%;
}
