.quantity-form {
    width: 100px;
    font-size: 1.5em;
}


.small-button{
    width: 1vw !important;
    height: 5vh;
}

.quantity {
    display: inline block;
    float:right;
    font-size: 1em;
    padding: 0;
}

.ingredient-adder-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ingredient-form {
    font-size: 1.5em;
}

.search-button {
    margin: 0 auto;
}

.button-separator {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}