<div class="recipe-search-main">
  <app-ingredient-adder (ingredientItem)="getIngredient($event)"></app-ingredient-adder>

    <app-ingredient-card class="ingredient-card-component" [recipeCard]="true" [availableIngredients]="availableIngredients"
      (removeFired)="removeIngredient($event)"></app-ingredient-card>


  <button mat-raised-button class="search-button" (click)="selectAvailableRecipes()" [disabled]="availableRecipesCounter < 1">
    {{showRecipes ? "Elrejtés" : "Megjelenítés"}}
  </button>
  <div class="recipes-counter" *ngIf="availableRecipesCounter > 0">
    {{ availableRecipesCounter + " elkészíthető recept" }}
  </div>
  <app-recipe-tile *ngIf="recipeList && showRecipes" [recipesData]="filteredList"></app-recipe-tile>
</div>