<div class="recipe-search-main">
  <app-ingredient-adder
    (ingredientItem)="getIngredient($event)"
  ></app-ingredient-adder>
  <app-ingredient-card
    [recipeCard]="true"
    [availableIngredients]="availableIngredients"
    (removeFired)="removeIngredient($event)"
  ></app-ingredient-card>
  <button
    mat-raised-button
    class="search-button"
    (click)="selectAvailableRecipes()"
  >
    {{"Receptek "+ (showRecipes ? "elrejtése" : "megtekintése")}}
  </button>
  <div class="recipes-counter" *ngIf="availableRecipesCounter > 0">
    {{ availableRecipesCounter + " elkészíthető recept" }}
  </div>
  <app-recipe-tile
    *ngIf="recipeList && showRecipes"
    [recipesData]="filteredList"
  ></app-recipe-tile>
</div>
