.container {
    width: 100%;
    margin: 0 auto;
}

.ingredients-container {
    font-size: 1em;
    font-weight: lighter;
    align-items: center;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

::ng-deep mat-panel-title {
    font-size: 1.2em !important;
    font-weight: lighter;
    margin-right: 20%;
    text-align: center !important;
}

::ng-deep mat-panel-description {
    font-style: italic;
}

::ng-deep mat-expansion-panel {
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.2) !important;
}

.message {
    font-weight: lighter;
}

// This fixes panel focus problem

.mat-expansion-panel-header.mat-expanded:focus {
    background: rgba($color: rgb(255, 255, 255), $alpha: 0) !important;
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgba($color: rgb(255, 255, 255), $alpha: 0) !important;
}

@media screen and (max-width: 600px) {
    ::ng-deep mat-panel-description.wide {
        display: none !important;
    }

    ::ng-deep mat-panel-description.mobile {
        display: block !important;
    }

    ::ng-deep mat-panel-title {
        width: 100%;
        margin: 0 auto;
    }

    img.recipe-image {
        border-radius: 50% !important;
        width: 150px;
    }
}

h4 {
    margin-bottom: 0;
}

img.recipe-image {
    border-radius: 50% !important;
    width: 300px 
}

a {
    text-decoration: none;
    color: black;
}