<div class="recipes-main">
  <div class="recipe-container">
    <div class="recipe-card" *ngFor="let recipe of recipesData">
      <h2 class="title">
        {{ recipe.title }}
      </h2>
      <span class="veg-text">
        <img
          class="veg-icon"
          src="../../../assets/resources/images/veg-icon.svg"
        />
      </span>

      <div class="ingredient-list">
        <div class="ingredient-list-title">Hozzávalók:</div>
        <app-ingredient-card
          [availableIngredients]="recipe.ingredients"
        ></app-ingredient-card>
      </div>

      <img *ngIf="recipe.href" class="recipe-image" src="{{ recipe.image }}" />
      <div class="description" *ngIf="recipe.description">
        {{ recipe.description }}
      </div>
      <div class="href" *ngIf="recipe.href">
        <a href="{{ recipe.href }}" targe="_blank" rel="noreferrer noopener"
          >elkészítési javaslat</a
        >
      </div>
    </div>
  </div>
</div>
