.recipe-card {
  margin: 0 auto;
  text-align: left;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 2%;
  background-color: rgba($color: rgb(73, 159, 83), $alpha: 1);
}

.veg-text {
    text-align: center;
}

.veg-icon {
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: auto;
    border: white dashed 1.5px;
}

.ingredient-list-title {
    color: white;
    padding: 2%;
    border-bottom: 1px white solid;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.title {
  font-size: 1.5em;
  padding: 0% 5%;
  color: white;
  text-align: left;
  margin: 0 auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-weight: 400;
}

.ingredient-list {
  padding: 2%;
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

.recipes-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.recipes-main {
  align-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.description {
  padding: 2%;
  background-color: rgba($color: #000000, $alpha: 0.1);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.5vh;
  color: white;
  font-style: italic;
  border: #ffffff 2px dashed;
}

span {
  color: white;
  font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
  .recipes-main {
    width: 100%;
  }
}

.href {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  & > a {
    color: white;
  }
}

.recipe-image {
  margin: 0 auto;
  border: 2px dashed white;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}
